<div class="mt-4">
  <div>
    <h3>Khoá học của tôi</h3>
    {{#if deletedCount}}
    <a href="/me/trash/courses">Thùng rác ({{deletedCount}})</a>
    {{/if}}
    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Chọn tất cả
        </label>
      </div>
      <select class="form-control form-control-sm checkbox-select-all-options" id="">
        <option>--Chọn hành động--</option>
        <option value="delete">Xóa</option>

      </select>

      <button class="btn btn-primary btn-sm disable">Thực hiện</button>
    </div>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th></th>
        <th scope="col">#</th>
        <th scope="col">Tên khóa học</th>
        <th scope="col">Trình độ</th>
        <th scope="col" colspan="3">Thời gian tạo</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <th>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="">
          </div>
        </th>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
        </td>
        <td>
          <a href="" data-toggle="modal" data-target="#delete-course-modal" data-id="{{this._id}}"
            class="btn btn-link">Xóa</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center mt-4">
          Bạn chưa đăng khóa học nào.
          <a href="/courses/create">Đăng khóa học</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{!-- confirm delelte courses --}}
<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="deleteCoursesLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn chắc chắn muốn xóa khóa học này ?
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá bỏ</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>

      </div>
    </div>
  </div>
</div>

{{!-- delete hidden form --}}
<form name="delete-course-form" method="post"></form>

<script>
  document.addEventListener('DOMContentLoaded', function () {

    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    var btnDeleteCourse = document.getElementById('btn-delete-course');

    //when dialog confirm click
    $('#delete-course-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var id = button.data('id') // Extract info from data-* attributes
      courseId = id;
    })

    //when delete course btn click
    btnDeleteCourse.onclick = function () {
      deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
      deleteForm.submit();
    }
  })
</script>